# Environnement Python
__pycache__/
*.pyc
venv/
.env

# Modele ML (trop gros pour GitHub)
models/*.pkl

# Fichiers OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# .env (a la racine de sensante/)
GROQ_API_KEY=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
 

